<!DOCTYPE html>
<html>
<head>
  <title>WualuckApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>


<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%#= link_to 'Authentications', authentications_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %> |
  <%= link_to 'Login with Prueba', '/users/auth/instagram/' %>
  <%#= link_to "Twitter", user_omniauth_authorize_path(:twitter), :class => 'navbar-link' %> |
  <%#= link_to 'Login with Facebook', '/users/auth/facebook?display=popup' %> |
  <%#= link_to 'Login with twitter', '/users/auth/twitter/' %>
  <%#= link_to "Facebook", user_omniauth_authorize_path(:facebook), :class => 'navbar-link' %> |
  <%#= link_to "Instagram", user_omniauth_authorize_path(:instagram), :class => 'navbar-link' %>
<% end %>


<%= yield %>

</body>
</html>
